.navItem {
  margin: 1rem 0.5rem;
  display: inline-block;
  border: 1px solid var(--blue-color);
  border-radius: 5px;
}

.navLink {
  text-decoration: none;
  background-color: var(--blue-color);
  color: var(--white-color);
  display: block;
  padding: 15px;
}
